/* Seccion del main */

@import 'bulma/css/bulma.css'; /* Importacion de bulma.css */


html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}

.centrar {
  text-align: center;
}

/* encabezado */
.encabezado_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  width: 120px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
}

.nav_global {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.nav_global_item {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}

.nav_global_item:hover {
  background: #fff;
  color: #42210b;
}

/* pie de página */
.pie {
  width: 100%;
  background: #251e19;
  position: absolute;
  bottom: -75px;
  padding-bottom: 10px;
  height: 75px;
}

.pie_nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.pie_nav_item {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.pie_logo {
  width: 80px;
}

.pie_derechos {
  color: white;
  text-align: center;
  font-size: 10px;
}

/* visual principal */
.visual {
  height: 500px;
  background: center / cover no-repeat url("../imagenes/sample_key.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Noto Serif JP', serif;
}

.visual h1 {
  font-size: 2.5rem;
}

/* sección concepto */
.concepto_inner {
  display: flex;
  justify-content: space-between;
}

.concepto_contenido {
  width: 60%;
}

.concepto_imagen {
  width: 35%;
}

/* sección común */
.seccion_inner {
  padding: 50px 10% 30px;
}

.seccion_titulo {
  font-family: 'Noto Serif JP', serif;
  text-align: center;
  margin-bottom: 50px;
}

/* sección información */
.info {
  display: flex;
}

.info_titulo {
  width: 80px;
}

.area_frame {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.frame_child {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* sección menú */
.seccion_menu {
  background: url("../imagenes/sample_menu_bg.jpg") no-repeat bottom;
  background-attachment: fixed;
}

.titulo_menu {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  text-align: center;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}

.menu_cafe {
  background: #fff;
  padding: 20px;
}

.menu_lista_item {
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
}

.menu_imagen_cafe {
  width: 20%;
  border-radius: 50%;
}

.menu_contenido_cafe {
  width: 80%;
  padding: 10px;
}

/* página de menú */
.menu_visual {
  height: 100px;
  background: url("../imagenes/sample_key.jpg") no-repeat center;
  background-size: cover;
}

.wrapper {
  display: flex;
}

.main {
  padding: 0 0 0 50px;
  width: calc(100% - 200px);
}

/* menú lateral de la página de menú */
.menu_lateral {
  width: 200px;
}

.titulo_menu_lateral {
  font-family: 'Noto Serif JP', serif;
  font-size: 25px;
  padding-left: 10px;
}

.item_menu_lateral {
  padding: 20px 10px;
  border-bottom: solid #42210b 1px;
  display: block;
  text-decoration: none;
}

.item_menu_lateral:hover {
  background: rgba(83,71,65,.3);
}

.anuncio_lateral {
  color: #fff;
  background: rgba(83,71,65,.7);
  padding: 20px;
  margin: 30px 0;
}

/* página principal del menú */
.imagen_menu {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.nombre_menu {
  font-family: 'Noto Serif JP', serif;
}

.precio_menu {
  font-family: 'Noto Serif JP', serif;
  font-size: 20px;
  margin-bottom: 30px;
}

.menu_panqueques {
  background: rgba(83,71,65,.5);
  padding: 20px;
  margin-top: 50px;
}

/* componente de items del menú */
.lista_menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lista_menu_recomendados {
  /* configuración de padding específica para la lista de menú de la página principal */
  padding-bottom: 50px;
}

.item_menu {
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  margin-bottom: 20px;
}

.contenido_item_menu {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}

.imagen_item_menu {
  width: 55%;
  object-fit: cover;
  height: 300px;
}

.precio_item_menu {
  color: #42210b;
  font-size: 18px;
  text-align: right;
}

.titulo_item_menu {
  font-size: 18px;
  font-family: 'Noto Serif JP', serif;
}

/* componente de botones */
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.btn-detalle {
  background: #2e58a6;
  color: #fff;
}

.btn-deshabilitado {
  background: rgba(0,0,0,0.3);
}
